.main
{
    border: 1px solid #181818;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
align-items: center;
text-align: center;
background-color: rgb(151, 156, 144);
border-width: 8px;
}
.row{
    margin: 20px 20px ;   
}
.button{
    border: #ccc 4cap  2px solid ;
    padding: 15px;
    margin: 10px;
    align-items: center;
text-align: center;
border-radius: 3px;
width: 15%;
cursor: pointer;
}
.row :hover{
    background-color: bisque;
}
.summary{
    text-align: center;
    text-transform: capitalize;
}